{% capture build_version %}{{ site.time | date: "%Y%m%d%H%M%S" }}{% endcapture %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% if site.favicon_img %}
    <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
    {% endif %}

    {% comment %}
    <style type="text/css">
      {% capture allcss %}
        {% include sass/all.scss %}
      {% endcapture %}
      {{ allcss | scssify }}
    </style>
    {% endcomment %}

    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/prefixfree.min.js"></script>

  </head>
  <body>

    <nav class="bar">

      <div class="banner side"></div>
      <div class="banner main"></div>

      <button class="hamburger">
        <span>Toggle Menu</span>
      </button>
      <a id="author" href="/"><b>J</b>anessa <b>S</b>uderman</a>
    </nav>
    <!-- <div class="shim"></div> -->

    <div class="outer">
      <div class="inner">
        <div class="spread">
