{% capture build_version %}{{ site.time | date: "%Y%m%d%H%M%S" }}{% endcapture %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.name }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }} - {{ site.name }}">
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% endif %}
    {% if page.cover %}
    <meta name="twitter:image" content="{{ site.url }}{{ page.cover }}">
    {% endif %}

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }} - {{ site.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    {% if page.cover %}
    <meta property="og:image" content="{{ site.url }}{{ page.cover }}" />
    {% endif %}
    {% if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
    {% endif %}

    {% comment %}
    <style type="text/css">
      {% capture allcss %}
        {% include sass/all.scss %}
      {% endcapture %}
      {{ allcss | scssify }}
    </style>
    {% endcomment %}

    <link rel="stylesheet" href="/styles/style.css?2">
    <script src="/scripts/prefixfree.min.js"></script>

  </head>
  <body>

    <nav class="bar">

      <div class="banner side"></div>
      <div class="banner main"></div>

      <button class="hamburger">
        <span>Toggle Menu</span>
      </button>
      <a id="author" href="/"><b>J</b>anessa <b>S</b>uderman</a>
    </nav>
    <!-- <div class="shim"></div> -->

    <div class="outer">
      <div class="inner">
        <div class="spread">
