<div class="table-of-contents">

  <h2>Table of Contents</h2>

  <ul>
    <li><a href="/"><span>Home</span></a></li>

    <li><a href="/books"><span>Books</span></a>
      <ul>
        {% for book in site.books %}
          <li>
            <a href="{{ book.url }}" title="{{ book.title}}">
              <span>
                {{book.title}}
                {% if book.new %}<em>new!</em>{% endif %}
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>

    <li><a href="/about"><span>About the Author</span></a></li>

    {% comment %}
    <li><a href="/blog"><span>Blog</span></a></li>
      <li><a href="/contact"><span>Contact</span></a></li>
    {% endcomment %}

  </ul>

<!-- Begin Mailchimp Signup Form -->
<hr>
<div id="mc_embed_signup">
  <form action="https://janessa.us20.list-manage.com/subscribe/post?u=efb20ef04e128d386990b2b7b&amp;id=82c7f80166" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Keep in touch and subscribe!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_efb20ef04e128d386990b2b7b_82c7f80166" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->

</div>

