
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 120px;
    margin-bottom: 40px;
}

/*
.main {
    padding-top: 100px;
    padding-bottom: 40px; 
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: left; 
}
.center { text-align: center; }

ul.links {
    list-style: none;
    padding: 0;
}
ul.links li {
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    margin: 8px;
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
}
ul.links li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
ul.links a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}

@media (max-width: 450px) {
ul.links {
    text-align: center;
}
ul.links li {
    border-radius: 0%;
    border: none;
    color: white;
    margin: 8px;
    display: block;
    list-style: none;
    margin: 10px 0px;
    text-align: center;
    height: auto;
    width: auto;
}
ul.links li:hover {
    background-color: none;
    transition: none;
}
ul.links a {
    text-align: justify;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-left: 30px;
    width: 70%;
}
ul.links a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
}
.description {
    display: inline-block;
    color: white;
    font-family: Arial;
    margin-left: 40px;
}
.main {
    padding-top: 60px;
}
}
*/


ul.books {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.books li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}


.book-page h1 {
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 4em;
  font-family: barbaroroman;
  margin: 2rem 0;
  text-align: center;
  /* text-shadow: 5px 5px 5px #000; */
  text-shadow: 0.25em 0 1em rgba(0,0,0,0.5);
  border-bottom: 5px solid #fff;
  padding-bottom: 0.25em;
  line-height: 1em;
}


.book {
  background: #fff;
  padding: 1.5em;
  overflow: hidden;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.25);
  display: block; 
  max-width: 600px; 
  margin: 20px auto;
}

.book img {
  max-width: 10em;
  display: block;
  float: left; 
  box-shadow: 0.25em 0 1em rgba(0,0,0,0.5);
  margin: 0 2em 2em 0; 
}

.book figure {
  width: 100%; 
  float: none;
  margin: 0 0 1em;
}

@media screen and (min-width: 426px) {
  .book figure {
    width: 33%; 
    float: left;
    margin: 0 2em 1em 0;
  }
}

.book blockquote {
  /* margin: 1em 1.5em 1em 0; */
  padding: 1.25em 1.75em;
  font-size: 1.5em;
  /* font-weight: bold; */
  text-align: right;
}

ul.buy {
  margin: 0;
  padding: 0;
  text-align: center;

}

a.buy {
  display: block;
  overflow: hidden;
  background: transparent url() no-repeat left top;
  background-size: contain;
  border: 5px solid #ccc;
  border-radius: 15px;
  max-width: 8em;
  margin: 0 0.5em 0.5em;
}

a.buy img {
  height: 100%;
  width: 100%;
  float: none;
  box-shadow: none;
  margin: 0;
  display: block;
}

ul.buy li {
  display: inline-block;
}

.book .content h2 {
  /* color: #000; */
  /* float: right; */
  /* margin: 10px 20px; */
  margin-top: 5px;
} 


nav.nav { 
  /* background: #BD86CA; */
  background: #fff;
  /* background: #5A2E62; */
  /* color: #fff; */
}
nav.nav .title {
  /* color: #5A2E62; */
  color: #fff;
  color: #BD86CA;
  color: #5A2E62;

}

.nav-toggle span {
  /* background-color: #fff; */
}

nav.nav a {
  font-family: barbaroroman;
}


footer.nav {
  // margin-top: 2em;
  background: transparent;
  padding: 1em 0 2em;
}
