{% include head.html %}

<div class="main book-page">
  <img src="/images/background.jpg" id="fullscreen">

  <div class="columns">
    <div class="column column is-8 is-offset-2 is-6-widescreen is-offset-3-widescreen">

      <h1 class="has-text-centered">{{page.title}}</h1>

      <div class="card book">
        <div class="card-content">

          <div class="content">
            <figure class="image ">
              <img src="{{page.cover}}">
            </figure>
            {{ content }}
          </div>

          <ul class="buy paper">
            <li>
              <a class="button" href="{{page.amazon}}">
                <img src="/images/amazon.png" alt="Amazon Paperback" />
              </a>
            </li>
            <li>
              <a class="button" href="{{page.createspace}}">
                <img src="/images/createspace.png" alt="Create Space" />
              </a>
            </li>
          </ul>

          <ul class="buy digital">
            <li>
              <a class="button" href="{{page.kindle}}">
                <img src="/images/kindle.png" alt="Amazon Kindle" />
              </a>
            </li>
            <li>
              <a class="button" href="{{page.kobo}}">
                <img src="/images/kobo.png" alt="Kobo" />
              </a>
            </li>
            <li>
              <a class="button" href="{{page.ibooks}}">
                <img src="/images/ibooks.png" alt="Apple iBooks" />
              </a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>

</div>

{% include tail.html %}
