---
layout: compress
---

{% include head.html %}

<div class="side panel">
  <div class="content">
    {% include navigation.html %}
  </div>
</div>

<div class="main panel">

  <div class="content">

    <figure class="hero">
        <img src="/images/janessa-suderman.png" alt="Janessa Suderman">
    </figure>

    {% for book in site.books %}
    {% if book.series == 'sisters-in-the-west' %}

    <div class="feature">
      <figure class="feature">
        <a href="{{ book.url }}" title="{{ book.title }}">
          <img src="{{ book.cover }}" alt="{{ book.title }}">
        </a>
      </figure>
      <figcaption>

        {% if book.title == 'Sisters in the West' %}
        <h2>FREE download:<br>{{ book.title }}</h2>
        <p>Download the first eBook in this new western romance series for <strong>FREE</strong> <em>(limited&nbsp;offer)</em> available on 
        {% else %}
        <h2>Now Available:<br>{{ book.title }}</h2
        <p>Download the eBook for $2.99 USD is available on 
        {% endif %}

          <a href="{{ book.kindle }}">Amazon&nbsp;Kindle</a>,
          <a href="{{ book.ibooks }}">Apple&nbsp;Books</a>,
          <a href="{{ book.kobo }}">Kobo</a>, and 
          <a href="{{ book.barnesnoble }}">Barnes&nbsp;&amp;&nbsp;Noble</a>.</p> 
        <p>Paperback is available for $6.49 USD on 
          <a href="{{ book.amazon }}">Amazon</a>.</p>

      </figcaption>
    </div>

    {% endif %}
    {% endfor %}

    {{ content }}

  </div>
</div>


{% include tail.html %}
